body{
    margin-top:		0;
    padding-top:	0;
    background-color:	silver;
    }

table{
    background-color:	red;
    margin-top:		0;
    margin-left:	50px;
    border:		thin solid black;
    padding-top:	0;
    }

th{
    text-align:		right;
    }

#button{
    float:		right;
}
