#header{
    background-color:	#17cc4f;;
    height:		35px;
    margin:		0px;
 }

table{
    border:		solid black;
    }

.abc {
    float: 		left;
    padding-top:	73px;
    margin-left:	7px;
    font-style:		italic;
    font-size:		20px;
    }

.linkright{
    float:		right;	
    font-weight:	bold;		
    margin:		4px;
    }

#footer{
    background-color:	#675c47;
    color:		#efe5d0;
    position:         	relative;
    text-align:       	center;
    padding:          	15px;
    margin:           	0px;
    font-size:        	60%;
    clear: 		right;
    }

body{
    font-family:      	Georgia, "Times New Roman", Times, serif;
    font-size:        	15px;
    margin:	        0px;
    }

.button{
    width:		100px;
    float:		right;
    margin-right:	10px;
    }

td, th{
    border:		thin dotted gray;
    }

th  {
    text-align:		right;
    font-style:		italic;
    }

caption{
    padding-bottom:	8px;
    font-weight:	bold;
    font-size:		120%;
    font-style:		italic;
    }

ul#menu{
  margin-top: 0;
  padding: 3px;
  line-height: 25px;
  text-align: center;
  }
  ul#menu li{
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
    background: #c93;
    }
    ul#menu li a{
      width: 100px;
      display: block;
      border: 1px solid #fff;
      text-align: center;
      text-decoration: none;
      color: #fff;
      text-shadow: 0.1em 0.1em 0.3em #000;
      }
      ul#menu li:hover{background: #cc3;}
        ul#menu ul{
          position: absolute;
          margin: 0;
          padding: 0;
          left: 0;
          top: 27px;
          visibility: hidden;
          }
          ul#menu li:hover ul{visibility: visible;}
ul#menu a:hover{color:#666666;}

.right{
   float: right; 
}

#wallpaper{
  padding-top:  0px;
  width:  100%;
  height: 100%;
}

#wallpaper img{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width:  50%;
  min-height: 50%;
}

#search{
  background-image: url("/user_generated_images/original/adccf1a7aee8727954b3a62a4589098c.jpg");
  background-size:  cover;
  height: 400px;
  margin-top: -15px;
  background-position: center;
}


#search ul{
  padding-top: 160px;  
  list-style-type:  none;
  text-align: center;  
}

#column1, #ing{
  height:  100px;
  width:  300px;
  float:  left;
  margin-left:  10%;
  margin-top: 40px;
  margin-bottom:  40px;
  border-style: solid;
  border-color: #ff0000;
  text-align: center;
	overflow:	hidden;
}

#column2, #directions{
  height: 100px;
  width:  300px;
  float:  right;
  margin-right: 10%;
  margin-top: 40px;
  margin-bottom:  40px;
  border-style: solid;
  border-color: #aa3200;
  text-align: center;
	overflow: hidden;
}

#searchResults{
  padding-left: 20%;
}

#searchResults li{
  padding-top:  5%;
}

#searchResults img{
  float:  right;
  padding-right:  30%;
}

h3{
  font-size:  150%;
  }

#galleria{
  width: 700px;
  height: 600px;
  background: white;
  margin-left:  25%;
  margin-top: 50px;
}

#recipe{
	position: relative;
	padding: 20px;

}

