#header{
    background-color:	#f1900d;
    height:		45px;
    margin:		0px;
    vertical-align: center;
}

#header img {
  width: 250px;
  float: left;
}

p.heading {
  text-align: center;
  color: #2FAACE;
  font-weight: normal;
  margin: 0 auto;
  padding: 15px 0;
}

table{
    border:		solid black;
    }

.abc {
    float: 		left;
    padding-top:	73px;
    margin-left:	7px;
    font-style:		italic;
    font-size:		20px;
    }

.linkright{
    float:		right;	
    font-weight:	bold;		
    margin:		4px;
    }

#footer{
    color:		grey;
    position:         	relative;
    text-align:       	center;
    padding:          	15px;
    margin:           	0px;
    font-size:        	60%;
    clear: 		right;
    background-color: #FFF;
    top: -10px;  
  }

body{
    font-family:        tahoma, verdana, arial, sans-serif;
    font-size:        	12px;
    margin:	        0px;
    width: 1000px;
    margin: 0 auto;
    background: url("/user_generated_images/original/bodybg.png") repeat-x;
    background-color: #FFF;
}

#body_index {
  margin-top: 65px;
}

#content {
  background-color: #FFF;
  width: 1000px;
  width: 100%;
  overflow: auto; 
}

#main {
  width: 800px;
  float: left; 
  padding-top: 15px;
}

#sidebar {
  width: 200px;
  float: left;
  padding-top: 15px;
}

.button{
    width:		100px;
    float:		right;
    margin-right:	10px;
    }

td, th{
    border:		thin dotted gray;
    }

th  {
    text-align:		right;
    font-style:		italic;
    }

caption{
    padding-bottom:	8px;
    font-weight:	bold;
    font-size:		120%;
    font-style:		italic;
    }

ul#menu{
  eargin-top: 0;
  padding: 3px;
  line-height: 25px;
  text-align: center;
}
  
ul#menu li{
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

ul#menu li a{
      width: 100px;
      display: block;
      text-align: center;
      text-decoration: none;
      color: #fff;
}
  
ul#menu li:hover{
  background: #2FAACE;
}
        
ul#menu ul{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    top: 25px;
    visibility: hidden;
}
  
ul#menu li:hover ul{
    visibility: visible;
    background: #2FAACE;
}
  
ul#menu a:hover{
    color:#2FAACE; 
    background: #FFF;
    border: 1px solid #2FAACE;
}

.right{
   float: right; 
}

#wallpaper{
  padding-top:  0px;
  width:  100%;
  height: 100%;
}

#wallpaper img{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width:  50%;
  min-height: 50%;
}

#search{
  background-image: url("/user_generated_images/original/main_bg.jpg");
  background-size:  cover;
  height: 400px;
  margin-top: -15px;
  background-position: center;
}

#searchform input[type=submit] {
  height: 36px;
  width: 79px;
  background: url("/user_generated_images/original/button.png") no-repeat center;
  border: none; 
  color: transparent;
  font-size: 0;
  cursor: pointer;
}

#searchform input[type=text] {
  width: 500px;
  height: 40px;
  border-color: #f1900d;
  border: 1px;
  font-size: 15px;
  color: grey;
  font-weight: bold;
}

#search ul{
  margin-top:10px;
  padding-top: 160px;  
  list-style-type:  none;
  text-align: center;  
  vertical-align: center;
}

#column1, #ing{
  height:  100px;
  width:  300px;
  float:  left;
  margin-left:  10%;
  margin-top: 40px;
  margin-bottom:  40px;
  border-style: solid;
  border-color: #ff0000;
  text-align: center;
	overflow:	hidden;
  display:none;
}

#column2, #directions{
  margin-right: 10%;
  margin-bottom:  40px;
	margin-left: 25px;
  overflow: hidden;
}

#searchResults{
  padding-left: 20%;
}

#searchResults li{
  padding-top:  5%;
}

#searchResults img{
  float:  right;
  padding-right:  30%;
}

h3{
  font-size:  150%;
  }

#galleria{
  width: 500px;
  height: 400px;
  background: white;
  margin-left:  20%;
  margin-top: 10px;
}

#recipe{
	position: relative;
	padding: 20px;

}

.lineseparator{
  height:1px;
  background:#999999;
  border-bottom:1px solid #999999;
  margin: 0px 0px 15px 0px;
}

.genericform {
  padding-bottom: 50px;
  margin: 0 auto;
  width: 600px;
  padding-top:10px;
}

.genericform label, .label {
  float: left;
  width: 200px;
  padding-right: 6px;
  padding-bottom: 1px;
  text-align:right;
  color: #999999;
}

.genericform input {
  width:350px;
  border: 1px solid #2FAACE;
  margin: 2px 0px;
}

.genericform ul {
  list-style-type:none;
}


.genericform input[type=file] {
  border: none;
}

.genericform select, textarea {
  width: 350px;
  border: 1px solid #2FAACE;
}

.genericform fieldset {
  border: 1px solid #2FAACE;
  width: 600px;
}

.genericform legend {
  color: #2FAACE;
  border: 1px solid #2FAACE;
  padding: 2px 10px;
  font-weight: 600;
}

.genericform input[type=submit] {
  border: none; 
  color: transparent;
  font-size: 0;
  cursor: pointer;
  float: right;
}

#loginform input[type=submit] {
  height: 37px;
  width: 61px;
  background: url("/user_generated_images/original/login.png") no-repeat center;
}

#recipeform input[type=submit] {
  height: 38px;
  width: 76px;
  background: url("/user_generated_images/original/submit.png") no-repeat center;
}

#recipeform input[type=reset] {
  border: 1px solid grey;
  width: 50px;
  height: 37px;
  margin-left: 30px;
  cursor: pointer;
}

#signupform input[type=submit] {
  height: 37px;
  width: 79px;
  background: url("/user_generated_images/original/signup.png") no-repeat center;
}

#editprofileform input[type=submit] {
  height: 37px;
  width: 79px;
  background: url("/user_generated_images/original/save.png") no-repeat center;
}

#usersettingsform input[type=submit] {
  height: 37px;
  width: 79px;
  background: url("/user_generated_images/original/submit.png") no-repeat center;
}

.clearboth {
  clear: both;
  display: block;
  width: 100%;
}

.error {
  background: url("/user_generated_images/original/error_32.png") no-repeat;
  border: 1px solid red;
  width: 500px;
  margin: 20px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:35px;
  font-size:12px;
  background-color: #C14;
  color: #fff;
  height: 25px;
}

.success {
  background: url("/user_generated_images/original/tick_32.png") no-repeat;
  border: 1px solid green;
  width: 500px;
  margin: 20px auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:35px;
  font-size:12px;
  background-color: #0A7;
  color: #fff;
  height: 25px;
}

.success a {
  color: #fff;
}


#recipe_input {
  margin: 0;
}

#viewprofile table {
  border: 0px;
}

#viewprofile td, th {
  border: 0px;
}

#viewprofile .label {
  float: left;
  width: 200px;
  padding-right: 6px;
  padding-bottom: 1px;
  text-align:right;
  color: #999999;
}

#viewprofile legend {
  color: #2FAACE;
  border: 1px solid #2FAACE;
  padding: 2px 10px;
  font-weight: 600;
}

#viewprofile {
  border: 1px solid #2FAACE;
  width: 600px;
}

#sidebar a  {
  color: #2FAACE;
}

#sidebar ul {
  list-style-type:none;
}

#sidebar ul li {
  /*border: 1px solid #F1900D;*/
  font-weight:bold;
  padding: 5px 10px;
}

#sidebar>ul>li>a {
  background-color:#F1900D;
  color: #FFF;
  width: 150px;
}

#sidebar ul li ul li{
  font-weight:normal;
  border: none;
}

.ingredient_input input[type=text] {
  width: 50px;
  float: left;
  margin: 0px 2px;
}

.ingredient_input input.ing {
  width: 150px;
}

.ingredient_input select {
  width: 50px;
  float: left;
  margin: 0px 2px;
}

.ingredient_input ul {
  display: block;
  width: 300px;
  clear: both;
}

.ingredient_input li {
  clear: both;
  margin: 2px 2px;
  height: 20px;
  padding-left: 200px;
}

.addmore li {
  clear: both;
  margin: 2px 2px;
  height: 20px;
  padding-left: 200px;
}


